
body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
    font-family: Okra, Helvetica, sans-serif;
}

header{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 462px;

    object-fit: cover;
}
.header-backpic{
    width: 100%;
    position: absolute;
    top: -20vh;
    z-index: -1;
    height: 462px;
}
.header-backpic img{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 1.4s;
    height: 860px;
}
.nav{
    display: flex;
    list-style: none;
    margin: 1vh 15vw;
    justify-content: space-between;
    color: white;
    font-size: 1em;
    font-family: Okra, Helvetica, sans-serif;
    

}
.nav-bar{
    display: flex;

}
.nav-bar li{
    font-size: 1em;
    font-family: Okra, Helvetica, sans-serif;
    font-weight: lighter;
    padding-left: 30px;
    list-style: none;
    
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6wh;
    align-items: center;

}
.logo{
    width: 18.5vw;
    height: 100%;
    object-fit: contain;
    margin-top: 40px;
}
.head h3{
    margin-top: 30px;
    color: white;
    text-align: center;
    font-size: 2.2rem;
    font-weight:lighter;
    font-family: Okra, Helvetica, sans-serif;

     
}
.search{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: stretch;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    
}
.search input{
    outline: none;
    border: none;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;
    
}
.search p{
    color: grey;
    border-right: 1px solid gray;
    font-family: Okra, Helvetica, sans-serif;
    font-size: 15px;
    padding-right: 150px;
}
.search i:first-child{
    font-size: 20px;
    color: rgb(252,119,119);
    padding-left: 10px;
    padding-right: 10px;
}
.search i{
    color: gray;
    padding-left: 20px;

}
.sec-1{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 100px;
    width: max-content;
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    gap: 10px;
}
.full{
    position: relative;
    max-height: initial;  
    margin-top: 35px;
}
.box{
    position: relative;
    width: 100%;
    height: 240px;
    margin: 3px 5px;
    overflow: hidden;
    border-radius: 15px;

}
.white span{
    line-height: 32px;
    font-size: 20px;
    
}
.white p{
    margin: 0;
    font-weight: lighter;  
}
.box img{
    width: 100%;
    height: 100%;
}

.white{
    position: absolute;
    bottom: 0px;
    align-items: center;
    border-radius: 0 0 15px 15px;
    background-color: white;
    width: 100%;
    height: 25%;
    z-index: 2;
    padding: 10px 20px 16px;
    
}
.white-p{
    text-align: center;
    font-family: Okra, Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(56, 56, 56);
    letter-spacing: 0.7px;


}
.middle{
    margin:60px 0px;
    max-width: 1100px;
    margin: 0 auto;

}
.collection{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.sec-2 h2{
    font-size: 2.3rem;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-left: 0px;
    

}
.sec div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;    
} 
.sec-2 h4{
    margin: 0;
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: Okra, Helvetica, sans-serif;
    margin-left: 0px;
    color: rgb(99,98,98);
 } 
 .fa-caret-right, .sec-2 span{
     color: rgb(255, 92, 92);
     
    
 }
 .box-1{                                           /*transpaent back of 4 images */
    height: 350px;                              
    overflow: hidden;
    position: relative;
    border-radius: 10px; 

 }
 .box-1 div{
    position: absolute;
    background: linear-gradient(transparent, black);  
    width: 100%;
    height: 30%;
    display:flex;
    align-items: flex-end;
    bottom: 0;
 }
 .box-1 div span:first-child{
    display: inline-block;
    color: white;
    padding-left: 15px;
    font-size: 18px;
    padding-bottom: 15px;
    white-space: nowrap;

 }
 .box-1 i{
    color: white;
    padding-bottom: 15px;
    margin-right: 10rem;
    
    
 }
 .box-1 img{
    height: 350px;                                                     /*4 images */
    object-fit: cover;
    
    
    
}
.sec-3{

    display: flex;
    margin-top: 50px;
    margin-bottom: 130px;
    gap: 7.5px;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    
    
}
.middle h1{
    font-size: 2.1rem;
    font-weight: lighter;
    text-align:left;
    color:rgb(46, 45, 45);
    margin-top: 120px;

}
.sec-4{
    display: grid;
    justify-content:space-between;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    grid-template-columns: 380px 380px 380px;
 
}
.box-2{
    border: 1px solid rgb(235, 233, 233);
    box-shadow:0 1px 1px rgb(226, 233, 233);
    overflow: hidden;
    border-radius: 10px;
}
 
.box-2 div{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;


}
.sec-5{
    width: 100%;
    display: flex;
    margin: 120px 0;
    padding: 40px;
    justify-content: center;
    background-color: rgb(255, 251, 247);
    
}
.flex{
    display: flex;
}
.footer{
    background-color: rgb(248, 248, 248);
    object-fit: cover;    
    }

.contact{
    width: 100%;
    overflow: hidden;
    max-width: 900px;
    margin: 0 auto;
    max-width: 1100px;
    margin: 0 auto;
}
.contact img{
    width: 410px;
    height: 435px;
    margin-left: 60px;
}
.address{
    width: 500px;
    padding-left: 20px;
}
.address p{
    padding-bottom: 10px;
    font-size: 0.95rem;
    color: rgb(92, 91, 91);
    font-size: inherit;
}
.address h2{
    font-size: 2.7rem;
    font-weight: lighter;
    margin-bottom: 20px;
    color: rgb(34,43,34);
}
.radio{
    display: flex;
    gap: 50px;
    margin-right: 230px;
    margin-bottom: 20px;
}
.radio label{
    font-size: 1.1rem;
    color: rgb(28, 28, 28);
    justify-content: space-around;

}
.radio [type="radio"]{
    accent-color: rgb(255, 92, 92);
}
.email{
    position: relative;
   

}
.email input{
    height: 46px;
    border-radius: 5px;
    width: 270px;
    border: 1px rgb(207, 207, 207);
    outline: rgb(255, 92, 92);
    font-size: 1.3rem;
    padding-left: 15px;
    margin-right: 50px;
}
.place{
    position: absolute;
    font-size: 1.3rem;
    left: 15px;
    top: 13px;
    color: gray;
    font-weight: lighter;
}
.email button{
    width: 150px;
    border-radius: 6px;
    border: 1px solid rgb(253, 104, 104);
    background-color: rgb(253, 104, 104);
    font-size: 1.1rem;
    margin-left: -30px;
    color: white;
    
}
.download{
    font-size: 0.7rem;
    margin-top: 27px;
    margin-bottom: 0;
    color: gray;
}
.app img{
    width: 130px;
    height: 40px;
}

.row{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(235, 233, 233);
    box-shadow:0 1px 1px rgb(226, 233, 233);
    font-family: Okra, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-stretch:normal;
    height: 60px;
    margin-left: 10rem;
    margin-bottom: 20px;
    margin-right: 10rem;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
    max-width: 110rem;
}
    
.row div{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.end h1{
    font-size: 2 rem;
    font-weight: lighter;
    text-align:left;
    margin-left: 11.3rem;
    margin-right: 70px;
    margin-top: -70px;
    color:rgb(46, 45, 45)

}
.first-img{
    width: 0px;
    height: 0px;
}
footer{
    background-color:rgb(248, 248, 248)
}

.sec-7{
    padding: 49px 0 22px;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}
.first{
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
.first-1{
    display: flex;
}
.first-1 span{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 20px;
    font-weight: 400;
    
}
.second{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
}
.second div{
    width: 200px;
}
.second h4{
    font-weight: lighter;
    color: rgb(22, 22, 22);
    white-space: nowrap;
}
.second a{
    display: inline-block;
    width: 200px;
    margin-bottom: 7px;
    white-space: nowrap;
    text-decoration: none;
    color: gray;
    font-size: 0.9rem;
}
.second img{
    width: 137px;
    height: 40px;
    margin-top: 12px;
    cursor: pointer;
}
.box-4{
    display: flex;
    flex-direction: column;
}
.box-4 i{
    margin-left: 5px;
    margin-bottom: 5px;
} 
.third{
    padding: 10px 0px;
    color: gray;
    font-size: 0.9rem;
    
}
.sec-6{
    margin-left: 20px;
}
/* media queries */

